*{
    font-family:"WenQuanYi Micro Hei",
		"Open Sans",
		"Fira Sans",
		"Lucida Sans",
		"Lucida Sans Unicode",
		"Trebuchet MS",
		"Liberation Sans",
		"Nimbus Sans L",
		sans-serif;
    font-size:12px;
}
html,body{
    margin:0;
    /* background:#090; */
    /* height:100%; */
    /* width:100%; */
    min-height: 100vh;
}
.main-tools{
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    display:inline-block;
}
.toolbar{
    position:fixed;
    background:#fff;
    width:100%;
    height:45px;
    border-bottom:1px solid #999;
    white-space:nowrap;
    z-index:1; /* prevent dots of "text-overflow:ellipsis" diplayed over me */
}
.dlg-row{
    padding:12px 0 6px 0;
    white-space:nowrap;
    display:table-row;
}
.dlg-row input{
    vertical-align:middle;
    border:none;
}
.dlg-title{
    font-weight:bold;
    border-bottom:1px solid #999;
    padding:0 10px 5px 10px;
}
.dlg-cover{
    position:fixed;
    z-index:999999999;
    width:100%;
    height:100%;
    background:#fff5;
}
.dlg{
    top:30%;
    position:absolute;
    background:#ccc;
    left:10%;
    width:80%;
    padding:15px 20px 10px 20px;
    border-radius:5px;
    border:1px solid #777;
    overflow:hidden;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* box-sizing: border-box; */
}
.dlg *{
    color:#000;
}
.dlg-table{
    display:table;
    overflow:hidden;
    width:100%;
    position:relative;
}
.dlg-table .row{
    display:table-row;
    white-space:nowrap;
    overflow:hidden;
}
.dlg-table .row .cell{
    display:table-cell;    
    line-height:20px;
    padding:0px 5px 5px 5px;
    vertical-align:middle;
    /* border:1px solid; */
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* box-sizing: border-box; */
    overflow:hidden;
}
.dlg .dlg-box{
    width:100%;
    overflow:hidden;
}
.table{
    display:table;
}
.table-row{
    display:table-row;
}
.table-cell{
    display:table-cell;
}
.tool-button{
    line-height:45px;
    vertical-align:middle !important;
    display:nowrap;
    /* background:#000; */
    display:inline-block;
    cursor:pointer;
    width:22px;
    height:22px;
    border-radius:11px;
}
.tool-button:hover{
    background-color:#700;
}
.tool-button:before{
    width:22px;
    height:22px;
    content:'';
    mask-size:22px 22px;
    background:#000;
    display:inline-block;
}
.tool-button:hover:before{
    background:#fff;
}
.tool-button.set:before{
    mask-image:url(/icons/settings.svg);
}
.tool-button.help:before{
    mask-image:url(/icons/help.svg);
}
.tool-button.tool:before{
    mask-image:url(/icons/tool.svg);
}
.tool-button.reload:before{
    mask-image:url(/icons/reload.svg);
}
.tool-button.search:before{
    mask-image:url(/icons/search.svg);
}
.tool-button.open:before{
    mask-image:url(/icons/openfolder.svg);
}
.tool-button.donate:before{
    mask-image:url(/icons/donate.svg);
}
.tool-button.announcement:before{
    mask-image:url(/icons/bell.svg);
}
.blue-button{
    background:#09c;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    padding:2px 5px;
    border:0;
    display:inline-block;
}
input[type=submit],input[type=button]{
    background:#09c;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    padding:3px 15px;
    border:0;
}
select{
    color: #000;
}
/* */
.simple-dropdown{
    min-with:50px;
    position:fixed;
    background:#999;
    border:1px solid #fff;
    z-index:99999999;
    top:300px;
    display:none;
    max-height:200px;
    overflow-y:auto;
}
.simple-menu{
    min-with:50px;
    position:fixed;
    background:#999;
    border:1px solid #fff;
    box-sizing:border-box;
    z-index:99999999;
    display:none;
    /* max-height:200px; */
    overflow-y:auto;
}
.simple-menu-item{
    background:none;
    padding:2px 5px;
    font-size:12px;
    padding:5px 15px;
    position:relative;
    cursor:default;
    color:#fff;
    white-space:nowrap;
}
.simple-menu .simple-menu-item{
    padding:5px 5px;
}
.simple-menu-item .icon{
    width:20px;
    height:20px;
    pointer-events:none;
    mask-image:url(/icons/tool.svg);
    display:inline-block;
    margin-right:3px;
    vertical-align:middle;
    mask-size:20px 20px;
}
.simple-menu-item *{
    vertical-align:middle;
}
.simple-menu-item:hover{
    background-color:#333;
    color:#fff;
}
/* */
.drop-button{
    margin:auto;
    line-height:100px;
    vertical-align:middle !important;
    border-radius: 5px;
    /* border: 1px solid #000; */
    display:inline-block;
    white-space:nowrap;
    cursor:default;
    /* background:#f00; */
    padding-top:5px;
}
.drop-button>*{
    display:inline-block;
    vertical-align:middle;
}
.drop-button .label{
    font-size:14px;
    line-height:20px;
    padding:0 0 0 7px;
    color:#000;
}
.drop-button .button{
    /* border-left:1px solid #f00; */
    color:#000;
    text-align:center;
    width:20px;
    height:20px;
    font-size:14px;
    line-height:16px;
    padding:2px 0;
}
.red-dot{
    width:5px;
    height:5px;
    border-radius:50%;
    background:#f00;
    color:red;
    position:absolute;
    top:3px;
    right:-1px;
    display:none;
}
.tab-page-top-bar span{
    display:inline-block;
    padding:3px 15px;
    background:#aaa;
    margin-left:3px;
    border-radius:3px 3px 0 0;
    vertical-align:bottom;
    color:#000;
}
.tab-page-top-bar span.on{
    background:#09c;
    color:#fff;
    padding:4px 15px;
}
.tab-page{
    /* display:none; */
}
