.item{
    cursor:pointer;
    margin-left:0;
    margin-bottom:15px;
    margin-top:0;
    width:-moz-fit-content;
    vertical-align:top;
    white-space:nowrap;
    display:flex;
}
.item *{
    cursor:pointer;
}
.item label{
    text-overflow:ellipsis;
    max-width:30em;
    overflow:hidden;
    display: inline-block;
    padding:0px 2px 0px 2px;
    border-radius:3px;
    vertical-align:middle;
}
.item i{ /* icon */
    display:inline-block;
    vertical-align:middle;
    margin:0 3px;
    background-size: 100% 100% !important;
    border:none;
    width:12px;
    height:12px;
}
.item input[type='checkbox']{
    mask-image:url(/icons/checkbox.svg);
    -moz-appearance:none;
    border:1px sloid;
    margin:0;
    vertical-align:middle;
    width:12px;
    height:12px;
    mask-size:12px 12px;
    background:#eee;
    background-size: 100% 100% !important;
    display:none;
}
.item input[type='checkbox']:checked{
    mask-image:url(/icons/checkbox-on.svg);
}
.item.page{
    color:#000;
    display:block;
    background-repeat:no-repeat;
    background-position:0px 0px;
    margin:0 0 5px 0;
}
.item.note{
    color:#000;
    display:block;
    background-repeat:no-repeat;
    background-position:0px 0px;
    margin:0 0 5px 0;
}
.item.bookmark{
    color:#050;
    display:block;
    background-repeat:no-repeat;
    margin:0 0 5px 0;
}
.item .origin{
    cursor:pointer;
    vertical-align:top;
    display:inline-block;
    background:#eee;
    background-repeat:no-repeat;
    background-position:0px 0px;
    mask-size:10px 10px;
    width:10px;
    height:10px;
    mask-image:url(/icons/online.svg);
    margin-top:-2px;
}
.item.bookmark.focus label,
.item.note.focus label,
.item.page.focus label,
.item.folder.focus label{
    background-color:#368;
    color:#fff;
}
.item.page i, .item.bookmark i{
    background:url(/icons/item.gif);
}
.item.note i{
    background:url(/icons/note.gif);
}
.item.folder{
    color:#000;
    background-position:0px 0px;
    margin:0 0 5px 0;
}
.item.folder i{
    background:url(/icons/folder.gif);
}
.item.folder.expended i{
    background:url(/icons/openfolder.gif);
}
.item.folder::before{
    content: "\200B";
}
.item.folder.drag-into{
    border-bottom:1px dashed #f00;
}
.item.separator{
    margin:0 0 5px 0;
    width:100%;
    height:15px;
    display:flex;
    justify-content : flex-start;
    flex-wrap: nowrap;
}
.item.separator > input[type=checkbox]{
}
.item.separator > .stroke{
    margin:auto auto auto 3px;
    height:1px;
    background:#999;
    flex-grow:1;
}
.item.separator.focus > .stroke{
    height:15px;
    border-width:7px 0px 7px 0px;
    box-sizing:border-box;
    border-style:solid;
    border-color:#368;
    background:#fff;
}
.folder-content.toplevel > .item{
    display: flex;
    margin-left:0px;
}
.folder-content{
    display:none;
    margin-left:18px;
    text-align:left;
}
.folder-content.top-level{
    margin-left:0px;
}
hr.drag-mark{
    border:none;
    border-bottom:1px dashed #f00;
    display:block;
    margin-left:0;
    background:none;
}
.folder-content.toplevel{
    display:block;
    margin:60px 20px 20px 20px;
    overflow:visible;
}
