.scrapyard-marker-1{
    background: #f2cfff;
}
.scrapyard-marker-2{
    background: #b2e8f6;
}
.scrapyard-marker-3{
    background: #bcffc1;
}
.scrapyard-marker-4{
    background:#fff2a1 ;
}
.scrapyard-marker-5{
    border-bottom:2px solid #0000ff;
}
.scrapyard-marker-6{
    border-bottom:2px solid #f00;
}
.scrapyard-marker-7{
    border-bottom:2px dotted #0000ff;
}
.scrapyard-marker-8{
    border-bottom:2px dotted #f00;
}
