/* Code */

a, a:visited {
    color: #0074D9;
}

code, pre {
    padding: 0 3px 2px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Courier New", monospace;
}
code {
    background-color: #eee;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
}

pre {
    background-color: #f5f5f5;
    display: block;
    padding: 8.5px;
    margin: 0 0 18px;
    line-height: 18px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

table {
    width: 100%;
    margin-bottom: 18px;
    padding: 0;
    border-collapse: separate;
    *border-collapse: collapse;
    /* IE7, collapse table to remove spacing */

    font-size: 13px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
}
table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}
table td {
    vertical-align: top;
}
table th + th, table td + td {
    border-left: 1px solid #ddd;
}
table tr + tr td {
    border-top: 1px solid #ddd;
}
table tbody tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}
table tbody tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}
.zebra-striped tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td {
    background-color: #f5f5f5;
}
table .header {
    cursor: pointer;
}
table .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
    visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
table .headerSortUp:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
table .blue {
    color: #049cdb;
    border-bottom-color: #049cdb;
}
table .headerSortUp.blue, table .headerSortDown.blue {
    background-color: #ade6fe;
}
table .green {
    color: #46a546;
    border-bottom-color: #46a546;
}
table .headerSortUp.green, table .headerSortDown.green {
    background-color: #cdeacd;
}
table .red {
    color: #9d261d;
    border-bottom-color: #9d261d;
}
table .headerSortUp.red, table .headerSortDown.red {
    background-color: #f4c8c5;
}
table .yellow {
    color: #ffc40d;
    border-bottom-color: #ffc40d;
}
table .headerSortUp.yellow, table .headerSortDown.yellow {
    background-color: #fff6d9;
}
table .orange {
    color: #f89406;
    border-bottom-color: #f89406;
}
table .headerSortUp.orange, table .headerSortDown.orange {
    background-color: #fee9cc;
}
table .purple {
    color: #7a43b6;
    border-bottom-color: #7a43b6;
}
table .headerSortUp.purple, table .headerSortDown.purple {
    background-color: #e2d5f0;
}


dl dt {
    font-weight: bold;
}

blockquote {
    margin-bottom: 18px;
    border-left: 5px solid #eee;
    padding-left: 15px;
}
blockquote p {
    font-weight: 300;
    margin-bottom: 0;
}
blockquote:before,
blockquote:after {
    content: "";
}



/* Code */

pre code {
    background-color: inherit;
    color: inherit;
    padding: 0;
}


/* TODO status*/
span.task-status {
    padding : 0 0.2em;
    margin-right : 10px;
    color: white;
}

span.task-status.todo {
    color: white;
    background-color: rgb(39, 149, 182);
}

span.task-status.done {
    color: white;
    background-color: rgb(81, 143, 31);
}

/* Section Number */
.section-number {
    padding-right : 10px;
    font-weight   : bold;
    color         : rgb(0, 90, 190);
    font-style    : italic;
}

.org-subscript-child {
    font-size : 80%;
}

#toc ul {
    list-style: none;
    padding-left: 20px;
}

#toc a {
    text-decoration: none;
}
