.idea
.local
*.iml
*.bak
bin
node_modules
/package.json
/package-lock.json
image/donate/
venv
backend/flask.bat
.idea/httpRequests/http-requests-log.http
addon/.web-extension-id
addon/web-ext-artifacts
addon/_metadata
__pycache__
helper/build/
helper/dist/
helper/scrapyard_helper.spec
helper/*.exe
helper/*.zip
helper/*.tgz
Scrapyard.zip
