.idea
.local
*.iml
*.bak
node_modules
/package.json
/package-lock.json
/build
addon/.web-extension-id
addon/_metadata
__pycache__
backend/build/
backend/dist/
backend/*.exe
backend/*.zip
backend/*.tgz
