#scrapbee-waiting{
    width:100%; height:100%;
    position:fixed;
    background:#9995;
    z-index:2147483647;
    top:0; left:0;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:30%;
}

/* .scrapbee-edit-bar{ */
/*     background:#f00; */
/*     height:100px; */
/*     left:0; */
/*     right:0; */
/*     bottom:0px; */
/*     position:fixed; */
/*     z-index:2147483647;    */
/* } */

.hl1{
    color:#f00;
    border-bottom:1px solid #0f0;
    background:#f00;
    color:#fff
}
.hl2{
    color:#ff0;
    border-bottom:1px solid #f0f;
}
.scrapbee-edit-bar{
    box-sizing: content-box;
    background: #aaa;
    border-top: 1px solid #999;
    width: 100%;
    height: 40px;
    position: fixed;
    vertical-align: middle;
    line-height: 40px;
    bottom: 0;
    z-index: 2147483647;
}
.scrapbee-edit-bar,  .scrapbee-edit-bar *{
    font-family:"WenQuanYi Micro Hei",
		"Open Sans",
		"Fira Sans",
		"Lucida Sans",
		"Lucida Sans Unicode",
		"Trebuchet MS",
		"Liberation Sans",
		"Nimbus Sans L",
		sans-serif;
    font-size:12px;
}
.scrapbee-edit-bar input[type=button].blue-button{
    background:#09c;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    padding:3px 15px;
    border:none;
}
.scrapbee-edit-bar input[type=button].yellow-button{
    background:#f70;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    padding:3px 15px;
    border:none;
}
.scrapbee-edit-bar input[type=button]:disabled{
    background:#555;
}
.scrapbee-menu-item{
    text-align:center;
}
