.scrapbee-dlg{
    width:50%;
    height:50%;
    text-align:center;
    margin:auto;
    vertical-align:middle;
    position:relative;
    border-radius:15px;
    overflow:hidden;
    border:1px solid #555;
}
.scrapbee-dlg *{
    color:#222;
}
.scrapbee-dlg input[type=button]{
    padding:5px 20px;
    appearance: none;
    -moz-appearance: none;
    border-radius:5px;
    border:none;
    background:#079;
    color:#fff;
    cursor:pointer;
}
.scrapbee-dlg-cover{
    width:100%;
    height:100%;
    background:#3338;
    vertical-align:middle;
    display:table-cell;
}
.scrapbee-dlg-container {
    z-index:2147483647;
    height:100%;
    width:100%;
    display:table;
    position:fixed;
    top:0;
    left:0;
}
.scrapbee-dlg-title{
    text-align:left;
    background:#888;
    height:50px;
    line-height:50px;
    padding-left:50px;
    background-image:url(icons/bee.png);
    background-repeat:no-repeat;
    background-size:30px 30px;;
    background-position:10px 10px;
}
.scrapbee-dlg-content{
    text-align:left;
    background:#888;
    position:absolute;
    top:50px;
    bottom:0;
    width:100%;
}
.scrapbee-dlg-content-inner{
    padding:10px;
    overflow-y:auto;
}
.scrapbee-dlg-table-outer{
    padding:10px;
    overflow-y:auto;
    position:absolute;
    bottom:50px;
    top:0px;
    width:100%;
    box-sizing: border-box;
    background:#bbb;
}
.scrapbee-dlg-table-hint{
    margin-right:30px;
    display:inline-block;
    vertical-align:middle;
    line-height:30px;
}
.scrapbee-dlg-yesno-buttons{
    position:absolute;
    bottom:10px;
    text-align:right;
    right:10px;
    white-space:nowrap;
}
.scrapbee-dlg-table{
    width:100%;
    border-collapse: collapse;
}
.scrapbee-dlg-table td{
    /* border:1px solid; */
    padding:5px;
    text-align:center;
    white-space:nowrap;
    font-size:12px;
}
.scrapbee-dlg-table th{
    text-align:center;
    font-size:12px;
    white-space:nowrap;
}
