.scrapbee-dlg{
    margin:auto;
    text-align:center;
    width:800px;
    height:600px;
}
.scrapbee-dlg-frame{
    width:100%;
    height:100%;
    overflow:hidden;
    border:1px solid #555;
    box-shadow: 5px 5px 5px #333 !important;
    border-radius:15px;
    position:relative;
    background:#888;
}
.scrapbee-dlg *{
    color:#222;
}
.scrapbee-dlg iframe{
    margin:0;
}

.scrapbee-dlg-cover.waiting .scrapbee-dlg{
    width:200px;
    height:50px;
    text-align:center;
    margin:auto;
    vertical-align:middle;
    overflow:hidden;
    border:none !important;
    background:#eee;
    display: flex;
    align-items: center;
    border-radius:5px;
}
.scrapbee-dlg-cover.waiting .waiting-gif{
    margin:auto;
    width:25px;
}
.scrapbee-dlg-cover.progress .scrapbee-dlg{
    display: flex;
    background:#555;
    width:300px;
    height:50px;
    border-radius:5px;
    flex-direction: column;
}
.scrapbee-dlg-cover.progress .text{
    width:280px;
    height:10px;
    margin:auto;
    color:#000;
}
.scrapbee-dlg-cover.progress .bar{
    border:1px solid #222;
    width:280px;
    height:10px;
    margin:auto;
}
.scrapbee-dlg-cover.progress .indicator{
    height:100%;
    width:0;
    background:#f50;
}

.blue-button, .scrapbee-dlg input[type=button]{
    padding:5px 20px;
    appearance: none;
    -moz-appearance: none;
    border-radius:5px;
    border:none;
    background:#079;
    color:#fff;
    cursor:pointer;
}
.scrapbee-dlg-cover{
    width:100%;
    height:100%;
    /* background:#3338; */
    background:radial-gradient(circle at 50% 30%,
			       rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8))
			      repeat scroll 0% 0% transparent;
    position:fixed;
    z-index:999999999;
    width:100%;
    height:100%;
    background:#0005;
    top:0;
    left:0;
    text-align:center;
    line-height:100%;
    vertical-align:middle;
    display: flex;
    align-items: center;
}
.scrapbee-dlg-container {
    z-index:2147483647;
    height:100%;
    width:100%;
    display:table;
    position:fixed;
    top:0;
    left:0;
}
.scrapbee-dlg-title{
    text-align:left;
    background:#888;
    height:36px;
    line-height:36px;
    padding-left:45px;
    background-image:url(icons/bee.png);
    background-repeat:no-repeat;
    background-size:20px 20px;;
    background-position:15px 8px;
}
.scrapbee-dlg-content{
    text-align:left;
    background:#888;
    position:absolute;
    top:36px;
    right:10px;
    bottom:10px;
    left:10px;
}
.scrapbee-dlg-content-inner{
    /* padding:0 10px 10px 10px; */
    /* overflow-y:auto; */
    height:100%;
    position:absolute;
    top:0;
    right:10px;
    bottom:10px;
    left:10px;
    /* box-sizing:border-box; */
}
.scrapbee-dlg-table-outer{
    padding:10px;
    overflow-y:auto;
    position:absolute;
    bottom:50px;
    top:0px;
    width:100%;
    box-sizing: border-box;
    background:#bbb;
}
.scrapbee-dlg-table-hint{
    margin-right:30px;
    display:inline-block;
    vertical-align:middle;
    line-height:30px;
}
.scrapbee-dlg-yesno-buttons{
    position:absolute;
    bottom:10px;
    text-align:right;
    right:10px;
    white-space:nowrap;
}
.scrapbee-dlg-table{
    width:100%;
    border-collapse: collapse;
}
.scrapbee-dlg-table td{
    /* border:1px solid; */
    padding:5px;
    text-align:center;
    white-space:nowrap;
    font-size:12px;
}
.scrapbee-dlg-table th{
    text-align:center;
    font-size:12px;
    white-space:nowrap;
}
