body{
    transform:none !important;
}
.scrapbee-edit-bar{
    background: #aaa !important;
    border-top: 1px solid #999 !important;
    width: 100% !important;
    height: 40px !important;
    position: fixed !important;
    vertical-align: middle !important;
    line-height: 40px !important;
    bottom:0;
    left:0;
    right:0;
    z-index: 2147483647 !important;
    text-align:left !important;
    color:#000 !important;
    padding:0 !important;
}
.scrapbee-edit-lock{
    position:absolute !important;
    background-color:#aaa;
    right:30px;
    top:-20px;
    height:20px;
    line-height:20px;
    cursor:pointer;
    border-radius:5px 5px 0 0;
    width:50px;
    height:20px;
    background-size:20px 15px;
    background-position:center center;
    background-repeat:no-repeat;
}
.scrapbee-icon{
    border:none !important;
    background:none !important;
    vertical-align:middle !important;
    margin-Left:10px !important;
    width :20px !important;
    height : 20px !important;
    display:inline !important;
}
.scrapbee-edit-bar,  .scrapbee-edit-bar *{
    font-family:"WenQuanYi Micro Hei",
		"Open Sans",
		"Fira Sans",
		"Lucida Sans",
		"Lucida Sans Unicode",
		"Trebuchet MS",
		"Liberation Sans",
		"Nimbus Sans L",
		sans-serif !important;
    font-size:12px !important;
    box-sizing: content-box !important;
}
.scrapbee-edit-bar input[type=button]{
    display:inline-block !important;
    color:#fff !important;
    cursor:pointer !important;
    border-radius:5px !important;
    padding:3px 15px !important;
    border:none !important;
    line-height:20px !important;
    margin: auto auto auto 5px !important;
    width:auto !important;
    height:auto !important;
    font-weight:normal !important;
    vertical-align:middle;
    min-height:auto !important;
    box-shadow:none;
}
.scrapbee-edit-bar input[type=button].blue-button{
    background:#09c !important;
}
.scrapbee-edit-bar input[type=button].yellow-button{
    background:#f70 !important;
}
.scrapbee-edit-bar input[type=button]:disabled{
    background:#555 !important;
}
.scrapbee-menu-item{
    text-align:center !important;
    height:14px !important;
    line-height:14px !important;
    min-width:200px !important;
}
.scrapbee-menu{
    position: absolute !important;
    z-index: 2147483647 !important;
    border: 1px solid #999 !important;
    background: #fff !important;
    display: none !important;
    box-shadow: 5px 5px 5px #888888 !important;
    border-width: 1px 1px 0px 1px !important;
}
.scrapbee-menu.show{
    display: block !important;
}
.scrapbee-marker{
    height:14px !important;
    color:#333 !important;
    cursor:pointer !important;
    border-bottom:1px solid #999 !important;
    padding:8px 20px !important;
    vertical-align:middle !important;
}
