
/* .scrapbee-edit-bar{ */
/*     background:#f00; */
/*     height:100px; */
/*     left:0; */
/*     right:0; */
/*     bottom:0px; */
/*     position:fixed; */
/*     z-index:2147483647;    */
/* } */

.scrapbee-marker-1{
    color:#f00;
    border-bottom:2px solid #0f0;
    background:#f00 ;
    color:#fff
}
.scrapbee-marker-2{
    color:#fff;
    background:#0f0 ;
    border-bottom:2px solid #f0f;
}
.scrapbee-marker-3{
    color:#000;
    border-bottom:2px solid #00f;
}
.scrapbee-marker-4{
    border-bottom:2px solid #f00;
}
.scrapbee-edit-bar{
    background: #aaa;
    border-top: 1px solid #999;
    width: 100%;
    height: 40px;
    position: fixed;
    vertical-align: middle;
    line-height: 40px;
    bottom: 0;
    z-index: 2147483647;
    text-align:left;
}
.scrapbee-icon{
    vertical-Align:middle;
    margin-Left:10px;
    width :20px;
    height : 20px;
}
.scrapbee-edit-bar,  .scrapbee-edit-bar *{
    font-family:"WenQuanYi Micro Hei",
		"Open Sans",
		"Fira Sans",
		"Lucida Sans",
		"Lucida Sans Unicode",
		"Trebuchet MS",
		"Liberation Sans",
		"Nimbus Sans L",
		sans-serif;
    font-size:12px;
    box-sizing: content-box;
}
.scrapbee-edit-bar input[type=button].blue-button{
    background:#09c;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    padding:3px 15px;
    border:none;
    line-height:20px;
    margin-left:5px;
}
.scrapbee-edit-bar input[type=button].yellow-button{
    background:#f70;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    padding:3px 15px;
    border:none;
    line-height:20px;
    margin-left:5px;
}
.scrapbee-edit-bar input[type=button]:disabled{
    background:#555;
}
.scrapbee-menu-item{
    text-align:center;
}
