*{
    font-family:"WenQuanYi Micro Hei",
		"Open Sans",
		"Fira Sans",
		"Lucida Sans",
		"Lucida Sans Unicode",
		"Trebuchet MS",
		"Liberation Sans",
		"Nimbus Sans L",
		sans-serif;
}
html,body{
    margin:0;
    /* background:#090; */
    /* height:100%; */
    /* width:100%; */
     min-height: 100vh;
}
.item.folder{
    color:#000;
    background:url(icons/folder.gif) no-repeat;
    background-position:0px 1px;
    margin:3px 0;
}
.item.folder::before{
    content: "\200B";
}
.item.folder.expended{
    background-image:url(icons/openfolder.gif);
    background-repeat:no-repeat;
    background-position:0px 1px;
}
.item *{
    cursor:pointer;
}
.item.local{
    /* background-color:#7af; */
    color:#000;
    display:block;
    background-image:url(icons/item.gif);
    background-repeat:no-repeat;
    background-position:0px 0px;
    margin:3px 0;
}
.item.bookmark{
    color:#050;
    display:block;
    background-image:url(icons/item.gif);
    background-repeat:no-repeat;
    margin:3px 0;
}
.item{
    cursor:pointer;
    margin-bottom:0px;
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    vertical-align:top;
    line-height:18px;
    padding-left:20px;
    background-size:18px 18px;
    /* color:red; */
    white-space:nowrap;
    width:0px;
}
.item label{
    text-overflow:ellipsis;
    max-width:30em;
    overflow:hidden;
    display: inline-block;
    padding:1px 2px;
    border-radius:3px;
    vertical-align:top;
    /* background-color:#ccc; */
    /* color:#000; */
}
.item.bookmark.focus label,
.item.local.focus label,
.item.folder.focus label{
    background-color:#079;
    color:#fff;
}
.item .origin{
    cursor:pointer;
    /* width:-moz-fit-content; */
    vertical-align:top;
    padding-left:20px;
    display:inline-block;
    background:url(icons/online.svg);
    background-repeat:no-repeat;
    background-position:0px 0px;
    background-size:9px 9px;
    width:9px;
    height:9px;
}
.box{
    margin:70px 20px 20px 20px;
}
.main-tools{
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    display:inline-block;
}
.toolbar{
    margin-bottom:20px;
    position:fixed;
    background:#fff;
    width:100%;
    height:50px;
    padding:10px;
    border-bottom:1px solid #999;
    white-space:nowrap;
    z-index:1; /* prevent dots of "text-overflow:ellipsis" diplayed over me */
}
.folder-content{
    display:none;
    margin-left:18px;
    /* border:1px solid; */
}
.folder-content.root{
    display:block;
    margin-left:0px;
    margin:70px 20px 20px 20px;
    overflow:visible;
}
.folder-content.root > .item{
    display:block;
    margin-left:0px;
}
.dlg-row{
    padding:12px 0 6px 0;
    white-space:nowrap;
    display:table-row;
}
.dlg-row input{
    vertical-align:middle;
    border:none;
}
.dlg-title{
    font-weight:bold;
    border-bottom:1px solid #999;
    padding:0 10px 5px 10px;
}
.dlg-cover{
    position:fixed;
    z-index:999999999;
    width:100%;
    height:100%;
    background:#fff5;
}
.dlg{
    top:30%;
    position:absolute;
    background:#ccc;
    left:10%;
    width:80%;
    padding:15px 20px 20px 20px;
    border-radius:5px;
    border:1px solid #777;
    overflow:hidden;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* box-sizing: border-box; */
}
.dlg *{
    color:#000;
}
.dlg-table{
    display:table;
    overflow:hidden;
    width:100%;
    position:relative;
}
.dlg-table .row{
    display:table-row;
    padding:12px 0 6px 0;
    white-space:nowrap;
    overflow:hidden;
}
.dlg-table .row .cell{
    display:table-cell;    
    line-height:20px;
    vertical-align:middle;
    padding:15px 5px 0 5px;
    vertical-align:middle;
    /* border:1px solid; */
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* box-sizing: border-box; */
    overflow:hidden;
}
.dlg .dlg-box{
    width:100%;
    overflow:hidden;
}
.drag-mark{
    /* background:#f00; */
    border:none;
    /* height:2px; */
    border-bottom:1px dashed #f00;
    /* margin:0 0 2px 0; */
}
.item.folder.drag-into{
    border-bottom:1px dashed #f00;
}
.table{
    display:table;
}
.table-row{
    display:table-row;
}
.table-cell{
    display:table-cell;
}
.tool-button{
    display:nowrap;
    background:#000;
    display:inline-block;
    cursor:pointer;
    vertical-align:middle;
    width:22px;
    height:22px;
    mask-size:22px 22px;
}
.tool-button.set{
    mask-image:url(icons/settings.svg);
}
.tool-button.help{
    mask-image:url(icons/help.svg);
}
.tool-button.reload{
    mask-image:url(icons/reload.svg);
}
.tool-button.search{
    mask-image:url(icons/search.svg);
}
.tool-button.open{
    mask-image:url(icons/openfolder.svg);
}
.tool-button.set:hover{
    background-image:url(icons/settings.svg);
}
.tool-button.help:hover{
    background-image:url(icons/help.svg);
}
.tool-button.reload:hover{
    background-image:url(icons/reload.svg);
}
.tool-button.search:hover{
    background-image:url(icons/search.svg);
}
.tool-button.open:hover{
    background-image:url(icons/openfolder.svg);
}
.tool-button:hover{
    background-size:22px 22px;
    mask-repeat:no-repeat;
    background-color:#700;
    mask-image:none;
    border-radius:11px;
}
.blue-button{
    background:#09c;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    padding:2px 5px;
    border:0;
}
.item.separator{
    width:100%;
    height:15px;
    border-width:7px 0 7px 0;
    border-style:solid;
    background:#999;
}
.item.separator.focus{
   background:#900;
}
select{
    color: #000;
}
/* */
.simple-menu{
    min-with:50px;
    position:fixed;
    background:#999;
    border:1px solid #fff;
    z-index:99999999;
    top:300px;
    display:none;
    max-height:200px;
    overflow-y:auto;
}
.simple-menu-button{
    border-radius:5px;
    background:none;
    padding:2px 5px;
    border:1px solid #fff;
    font-size:16px;
    text-align:center;
}
.simple-menu div{
    padding:5px 15px;
    position:relative;
    font-size:16px;
}
.simple-menu div:hover{
    background-color:#555;
    color:#fff;
}
/* */
.drop-button{
    border-radius: 5px;
    border: 1px solid #f00;
    display:inline-block;
    white-space:nowrap;
    cursor:default;
    vertical-align:top;
}
.drop-button>*{
    display:inline-block;
    vertical-align:top;
}
.drop-button .label{
    font-size:14px;
    line-height:20px;
    padding:0px 10px;
    color:#f00;
}
.drop-button .button{
    border-left:1px solid #f00;
    color:#f00;
    text-align:center;
    width:20px;
    height:20px;
    font-size:14px;
    line-height:16px;
    padding:2px 0;
}
