*{
    font-family:"WenQuanYi Micro Hei",
		"Open Sans",
		"Fira Sans",
		"Lucida Sans",
		"Lucida Sans Unicode",
		"Trebuchet MS",
		"Liberation Sans",
		"Nimbus Sans L",
		sans-serif;
    font-size:12px;
}
html{
    height:100%;
    width:100%;
}
body{
    margin:0;
    display:table;
    min-height:100%;
    max-height:100%;
    height: 100%;
    width:100%;
}
input{
    vertical-align:middle;
}
#div-page{
    display:table-row;
    background:#999;
}
#div-form-left {
    display:table-cell;
    background:#999;
    padding:0;
    vertical-align:top;
    width:150px;
    min-width:150px;
    border-right:1px solid #777;
}
.form-table {
}
.div-area{
    display:table-cell;
    padding:15px;
    overflow:scroll;
}
input[type=button]{
    padding:5px 20px;
    appearance: none;
    -moz-appearance: none;
    border-radius:5px;
    border:none;
    background:#079;
    color:#fff;
    cursor:pointer;
}
input[type=button]:disabled, input[type=button]:disabled:hover{
    background:#555;
    cursor:default;
}
input[type=button]:hover{
    background:#080;
}
.rdf-row>input[type=button], input[type=button].narrow{
    padding:5px 10px;
}
#txtBackendPath{
    border-radius:5px;
    border:1px solid;
    background:#ccc;
    padding:5px;
    display:none;
}
.form-table input[type=button]::-moz-focus-inner{
    border:none;
}
#rdf-area input[type=text]{
    width:450px;
}
.form-table input[type=checkbox]{
    /* margin-top:8px; */
}
.form-table input[type=text]{
    border-radius:5px;
    border:1px solid #222;
    padding:4px 5px;
    background:#555;
    color:#fff;
}
.form-table>tbody>tr>td:first-child{
    vertical-align:top;
    text-align:right;
    text-decoration:underline;
    font-weight:bold;
    padding-top:4px;
    font-size:15px;
    white-space:nowrap;
}
div.panel{
    border-radius:5px;
    border:1px solid #777;
    padding:10px;
    white-space:nowrap;
}
.form-table.inner>tbody>tr>td:first-child{
    vertical-align:middle;
    text-align:right;
    font-weight:normal;
    text-decoration:none;
    font-size:12px;
}
.form-table>tbody>tr>td{
    padding:5px 5px;
}
.form-table.inner>tbody>tr>td{
    padding:0px 0px;
}
.form-table>tbody>tr{
    border-bottom:1px solid;
}
.left-index{
    outline: none;
    padding:15px 0px;
    color:#000;
    font-size:14px;
    display:block;
    text-align:center;
    width:100%;
}
.left-index.focus{
    border-right:3px solid #079;
    background:#bbb;
}
#rdf-area div{
    margin-bottom:3px;
    white-space:nowrap;
}
#rdf-area div input:first-child{
    width:100px;
}
.tips{
    border-radius:5px;
    border:1px solid #777;
    background:#cc9;
    padding:5px;
    margin-bottom:5px;
    text-align:left;
    font-weight:normal;
    white-space:normal;
}
.tips.hide{
    display:none;
    position: absolute;
    z-index:999;
    max-width:500px;
}
.console{
    border:1px solid #333;
    overflow:auto;
    padding:10px;
    position:absolute;
    top:30px;
    left:30px;
    right:30px;
    bottom:30px;
    background:#555;
    color:#eee;
    border-radius:5px;
}
h2{
    font-size:18px;
}
.embeded-log-text{
    background:#555;
    color:#eee;
    padding:10px;
    width:-moz-fit-content;
    margin:5px 0;
}
/* ============= slidbar =============== */
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /* width: 100%; */ /* Full-width */
    height: 6px; /* Specified height */
    background: #555; /* Grey background */
    outline: none; /* Remove outline */
    /* opacity: 0.7; */ /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: inline-block;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #079; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
    border:none;
}
.slider::-moz-range-thumb {
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #079; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
    border:none;
}
.slider::-moz-focus-outer {
    border: 0;
}
.help-mark{
    width:20px;
    height:20px;
    background:url(icons/help-mark.svg);
    background-size: 20px 20px;
    vertical-align:middle;
    display:inline-block;
}
.warn-mark{
    width:20px;
    height:20px;
    background:url(icons/warn-mark.svg);
    background-size: 20px 20px;
    vertical-align:middle;
    display:inline-block;
}
/* node move */
#node-mover{
    padding:160px 30px;
    box-sizing:border-box;
    border:0px solid;
    position:absolute;
    left:30px;
    top:60px;
    right:30px;
    bottom:60px;
    border-radius:5px;
    border:1px solid #555;
    overflow:hidden;
    min-width:300px;
    min-height:300px;
}
#node-mover input[type=button].tool-button{
    width:26px;
    height:26px;
    line-height:26px;
    vertical-align:middle;
    text-align:center;
    padding:0;
    display:block;
    margin:auto;
    margin-bottom:5px;
}
#node-mover .left-box{
    position:absolute;
    left:0;
    top:0;
    right:50%;
    bottom:0;
    box-sizing:border-box;
    padding-right:20px
}
#node-mover .right-box{
    position:absolute;
    left:50%;
    top:0;
    right:0;
    bottom:0;
    box-sizing:border-box;
    padding-left:20px;
}
#node-mover .cell{
    margin:0;
    height:100%;
    box-sizing:border-box;
    position:relative;
}
#node-mover #tree1, #node-mover #tree2{
    background:#555;
    margin:0;
    overflow:auto;
    position:absolute;
    /* border:1px solid #555; */
    left:0;
    top:58px;
    right:0;
    bottom:30px;
    box-sizing:border-box;
    padding:10px;
}
#node-mover .toolbar{
    left:0;
    height:30px;
    right:0;
    bottom:0px;
    position:absolute;
    box-sizing:border-box;
    padding:7px;
}
#node-mover .path-box{
    left:0;
    height:30px;
    right:0;
    top:29px;
    position:absolute;
    border:1px solid #555;
    border-width: 1px 0 1px 0;
    box-sizing:border-box;
    padding:0 5px;
    text-overflow:ellipsis;
    overflow:hidden;
    text-align:left;
    white-space:nowrap;
    direction: rtl;
    line-height:30px;
    vertical-align:middle;
}
#node-mover .drop-box{
    left:0;
    height:30px;
    right:0;
    top:0px;
    position:absolute;
    /* border:1px solid #555; */
    border-width: 0 1px 1px 0;
    box-sizing:border-box;
    text-overflow:ellipsis;
    overflow:hidden;
    text-align:left;
    white-space:nowrap;
}
#node-mover .center-toolbar{
    position:absolute;
    left:50%;
    top:0;
    bottom:0;
    width:40px;
    box-sizing:border-box;
    margin-left:-20px;
    text-align:center;
    border:1px solid #555;
    border-width: 0 1px 0 1px;
}
#node-mover .toolbar img{
    cursor:pointer;
}
/* */
.drop-box{
    /* border: 1px solid #000; */
    white-space:nowrap;
    cursor:default;
    vertical-align:top;
}
.drop-box>*{
    display:inline-block;
    vertical-align:top;
}
.drop-box .label{
    font-size:14px;
    line-height:30px;
    padding:0 0 0 10px;
    left:0;
    bottom:0;
    top:0;
    right:24px;
    position:absolute;
    white-space:nowrap;
    vertical-align:middle;
    overflow:hidden;
    text-overflow:ellipsis;
}
.drop-box .button{
    /* border-left:1px solid #000; */
    text-align:center;
    font-size:14px;
    line-height:30px;
    vertical-align:middle;
    position:absolute;
    right:0;
    bottom:0;
    top:0;
    width:24px;
}
/* */
.simple-menu{
    min-with:50px;
    position:fixed;
    background:#999;
    border:1px solid #333;
    border-width:1px 0;
    box-sizing:border-box;
    z-index:99999999;
    display:none;
    max-height:200px;
    overflow-y:auto;
}
.simple-menu-button{
    border-radius:5px;
    background:none;
    padding:2px 5px;
    border:1px solid #fff;
    font-size:16px;
    text-align:center;
}
.simple-menu div{
    padding:5px 15px;
    position:relative;
    font-size:16px;
    cursor:default;
}
.simple-menu div:hover{
    background-color:#555;
    color:#fff;
}
/* ============================
   dialog override
   ============================ */
.scrapbee-dlg{
    width:50%;
    text-align:center;
    margin:auto;
    vertical-align:middle;
    position:relative;
    overflow:hidden;
    border:none !important;
}
.scrapbee-dlg .waiting-gif{
    border-radius:15px;
    border:1px solid #555;
    width:66px;
}
.tab-button{
    display:inline-block;
    font-weight:bold;
    background:#555;
    padding:5px 10px 7px 10px;
    border-radius:0 0 10px 10px;
    color:#fff;
    font-size:12px;
    cursor:default;
    cursor:pointer;
    margin-left:1px;
}
