*{
    font-family:"WenQuanYi Micro Hei",
		"Open Sans",
		"Fira Sans",
		"Lucida Sans",
		"Lucida Sans Unicode",
		"Trebuchet MS",
		"Liberation Sans",
		"Nimbus Sans L",
		sans-serif;
    font-size:12px;
}
html{
    height:100%;
    width:100%;
}
body{
    margin:0;
    display:table;
    min-height:100%;
    max-height:100%;
    height: 100%;
    width:100%;
}
#div-page{
    display:table-row;
    background:#999;
}
#div-form-left {
    display:table-cell;
    background:#999;
    padding:0;
    vertical-align:top;
    width:150px;
    min-width:150px;
    border-right:1px solid #777;
}
.form-table {
}
.div-area{
    display:table-cell;
    padding:15px;
    overflow:scroll;
}
input[type=button]{
    padding:5px 20px;
    appearance: none;
    -moz-appearance: none;
    border-radius:5px;
    border:none;
    background:#079;
    color:#fff;
    cursor:pointer;
}
#txtBackendPath{
    border-radius:5px;
    border:1px solid;
    background:#ccc;
    padding:5px;
    display:none;
}
.form-table input[type=button]:hover{
    background:#080;
}
.form-table input[type=button]::-moz-focus-inner{
    border:none;
}
#rdf-area input[type=text]{
    width:450px;
}
.form-table input[type=checkbox]{
    /* margin-top:8px; */
}
.form-table input[type=text]{
    border-radius:5px;
    border:1px solid #222;
    padding:4px 5px;
    background:#555;
    color:#fff;
}
.form-table>tbody>tr>td:first-child{
    vertical-align:top;
    text-align:right;
    text-decoration:underline;
    font-weight:bold;
    padding-top:4px;
    font-size:15px;
    white-space:nowrap;
}
div.panel{
    border-radius:5px;
    border:1px solid #777;
    padding:10px;
    white-space:nowrap;
}
.form-table.inner>tbody>tr>td:first-child{
    vertical-align:middle;
    text-align:right;
    font-weight:normal;
    text-decoration:none;
    font-size:12px;
}
.form-table>tbody>tr>td{
    padding:5px 5px;
}
.form-table.inner>tbody>tr>td{
    padding:0px 0px;
}
.form-table>tbody>tr{
    border-bottom:1px solid;
}
.left-index{
    outline: none;
    padding:15px 0px;
    color:#000;
    font-size:14px;
    display:block;
    text-align:center;
    width:100%;
}
.left-index.focus{
    border-right:3px solid #079;
    background:#bbb;
}
#rdf-area div{
    margin-bottom:3px;
    white-space:nowrap;
}
#rdf-area div input:first-child{
    width:100px;
}
.tips{
    border-radius:5px;
    border:1px solid #777;
    background:#cc9;
    padding:5px;
    margin-bottom:5px;
    text-align:left;
}
.tips.hide{
    display:none;
    position: absolute;
}
.console{
    border:1px solid #000;
    overflow:auto;
    padding:10px;
    position:absolute;
    top:50px;
    left:50px;
    right:50px;
    bottom:50px;
    background:#333;
    color:#eee;
}
h2{
    font-size:18px;
}
.embeded-log-text{
    background:#333;
    color:#eee;
    padding:10px;
    width:-moz-fit-content;
    margin:5px 0;
}
/* ============= slidbar =============== */
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /* width: 100%; */ /* Full-width */
    height: 6px; /* Specified height */
    background: #555; /* Grey background */
    outline: none; /* Remove outline */
    /* opacity: 0.7; */ /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: inline-block;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #079; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
    border:none;
}
.slider::-moz-range-thumb {
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #079; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
    border:none;
}
.slider::-moz-focus-outer {
    border: 0;
}
.help-mark{
    width:20px;
    height:20px;
    background:url(icons/help-mark.svg);
    background-size: 20px 20px;
    vertical-align:middle;
    display:inline-block;
}
