.item.folder{
    color:#eee;
    background:url(icons/folder.gif) no-repeat;
    background-position:0px 0px;
    margin:0 0 5px 0;
}
.item.folder::before{
    content: "\200B";
}
.item.folder.expended{
    background-image:url(icons/openfolder.gif);
    background-repeat:no-repeat;
    background-position:0px 1px;
}
.item *{
    cursor:pointer;
}
.item.local{
    /* background-color:#7af; */
    color:#eee;
    display:block;
    background-image:url(icons/item.gif);
    background-repeat:no-repeat;
    background-position:0px 0px;
    margin:0 0 5px 0;
}
.item.bookmark{
    color:#ae0;
    display:block;
    background-image:url(icons/item.gif);
    background-repeat:no-repeat;
    margin:0 0 5px 0;
}
.item{
    cursor:pointer;
    margin-bottom:15px;
    margin-top:0;
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    vertical-align:top;
    /* line-height:18px; */
    padding-left:20px;
    background-size:12px 12px;
    /* color:red; */
    white-space:nowrap;
    width:0px;
    height:14px
}
.item label{
    text-overflow:ellipsis;
    max-width:30em;
    overflow:hidden;
    display: inline-block;
    padding:0px 2px 0px 4px;
    border-radius:3px;
    vertical-align:top;
    /* background-color:#ccc; */
    /* color:#000; */
}
.item.bookmark.focus label,
.item.local.focus label,
.item.folder.focus label{
    background-color:#079;
    color:#fff;
}
.item .origin{
    cursor:pointer;
    /* width:-moz-fit-content; */
    vertical-align:top;
    display:inline-block;
    background:#eee;
    background-repeat:no-repeat;
    background-position:0px 0px;
    mask-size:10px 10px;
    width:10px;
    height:10px;
    mask-image:url(icons/online.svg);
    margin-top:-2px;
}
.item.folder.drag-into{
    border-bottom:1px dashed #f00;
}
.item.separator{
    width:100%;
    height:15px;
    border-width:7px 0 7px 0;
    border-style:solid;
    border-color:#555;
    background:#bbb;
    box-sizing:border-box;
    margin:0;
}
.item.separator.focus{
   background:#900;
}
.folder-content.root > .item{
    display:block;
    margin-left:0px;
}
.folder-content{
    display:none;
    margin-left:18px;
    /* border:1px solid; */
}
.drag-mark{
    /* background:#f00; */
    border:none;
    /* height:2px; */
    border-bottom:1px dashed #f00;
    /* margin:0 0 2px 0; */
}
.folder-content.root{
    display:block;
    margin-left:0px;
    margin:60px 20px 20px 20px;
    overflow:visible;
}
