.item{
    cursor:pointer;
    margin-left:0;
    margin-bottom:15px;
    margin-top:0;
    width:-moz-fit-content;
    vertical-align:top;
    white-space:nowrap;
    display:block;
}
.item *{
    cursor:pointer;
}
.item label{
    text-overflow:ellipsis;
    max-width:30em;
    overflow:hidden;
    display: inline-block;
    padding:0px 2px 0px 2px;
    border-radius:3px;
    vertical-align:middle;
}
.item i{ /* icon */
    display:inline-block;
    vertical-align:middle;
    margin:0 3px;
    background-size: 100% 100% !important;
    border:none;
    width:12px;
    height:12px;
}
.item input[type='checkbox']{
    mask-image:url(icons/checkbox.svg);
    -moz-appearance:none;
    border:1px sloid;
    margin:0;
    vertical-align:middle;
    width:12px;
    height:12px;
    mask-size:12px 12px;
    background:#eee;
    background-size: 100% 100% !important;
    display:none;
}
.item input[type='checkbox']:checked{
    mask-image:url(icons/checkbox-on.svg);
}
.item.page{
    color:#eee;
    display:block;
    background-repeat:no-repeat;
    background-position:0px 0px;
    margin:0 0 5px 0;
}
.item.bookmark{
    color:#ae0;
    display:block;
    background-repeat:no-repeat;
    margin:0 0 5px 0;
}
.item .origin{
    cursor:pointer;
    vertical-align:top;
    display:inline-block;
    background:#eee;
    background-repeat:no-repeat;
    background-position:0px 0px;
    mask-size:10px 10px;
    width:10px;
    height:10px;
    mask-image:url(icons/online.svg);
    margin-top:-2px;
}
.item.bookmark.focus label,
.item.page.focus label,
.item.folder.focus label{
    background-color:#079;
    color:#fff;
}
.item.page i, .item.bookmark i{
    background:url(icons/item.gif);
}
.item.folder{
    color:#eee;
    background-position:0px 0px;
    margin:0 0 5px 0;
}
.item.folder i{
    background:url(icons/folder.gif);
}
.item.folder.expended i{
    background:url(icons/openfolder.gif);
}
.item.folder::before{
    content: "\200B";
}
.item.folder.drag-into{
    border-bottom:1px dashed #f00;
}
.item.separator{
    margin:0;
    width:100%;
    height:15px;
    border-width:7px 0 7px 0;
    border-style:solid;
    border-color:#555;
    background:#bbb;
    box-sizing:border-box;
}
.item.separator.focus{
    background:#900;
}
.folder-content.root > .item{
    display:block;
    margin-left:0px;
}
.folder-content{
    display:none;
    margin-left:18px;
    text-align:left;
}
.drag-mark{
    border:none;
    border-bottom:1px dashed #f00;
    display:block;
    margin-left:0;
}
.folder-content.root{
    display:block;
    margin-left:0px;
    margin:60px 20px 20px 20px;
    overflow:visible;
}
