<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="l2.albitron.scrapyard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".cloud.CloudOperationsService"
            android:exported="false" />

        <activity
            android:name=".CloudBookmarkActivity"
            android:icon="@drawable/ic_scrapyard"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/bookmarkToScrapyard">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <!-- data android:mimeType="application/pdf" / -->
            </intent-filter>
        </activity>
        <activity android:name=".TODODialogActivity"
            android:icon="@drawable/ic_scrapyard_todo"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme">
            <intent-filter android:label="@string/todoToScrapyard">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <!-- data android:mimeType="application/pdf" / -->
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-0y7co3j1k4oc7up" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
