#sync-directory-path-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sync-directory-path {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}

#sync-directory-path-refresh {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    background-color: white;
    display: block;
    user-select: none;
    margin-right: 2px;
}

#sync-help-link {
    text-align: right;
}
