.dlg-title {
    font-weight: bold;
    border-bottom: 1px solid #999;
    padding: 0 10px 5px 10px;
}

.dlg-cover {
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: #fff5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dlg {
    margin: 30px;
    position: absolute;
    background: #ccc;
    width: max-content;
    padding: 15px 20px 20px 20px;
    border-radius: 5px;
    border: 1px solid #777;
    overflow: hidden;
}

.dlg * {
    color: #000;
}

.dlg-table {
    display: table;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.dlg-table .row {
    display: table-row;
    padding: 12px 5px 6px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.dlg-table .row .cell {
    display: table-cell;
    line-height: 20px;
    vertical-align: middle;
    padding: 15px 5px 0 5px;
    vertical-align: middle;
    overflow: hidden;
}

.dlg .dlg-box {
    width: 100%;
    overflow: hidden;
}

#advanced-title {
    text-align: center;
    width: 100%;
}

#advanced-title h1 {
    font-size: 18pt;
    margin-bottom: 10px;
}

.panel {
    width: 700px;
    margin: auto;
    margin-top: 20px;
}

.panel-title {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 5px;
}

.double-container {
    display: flex;
}

.double-first, .double-last {
    flex: 0 0 320px;
}

.double-last {
    margin-left: 20px;
}

#automation-panel-title {
    width: 100%;
}

#automation-api-docs, #statistics-link {
    font-weight: normal;
    display: inline-block;
    float: right;
}

#addon-db-path-title {
    margin-bottom: 10px;
}

#addon-db-path-input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#db-path-copy-button {
    margin-left: -20px;
    margin-bottom: -4px;
    cursor: pointer;
    background-color: white;
}

.action-link {
    padding-top: 10px;
    margin-bottom: 0;
}

#import-settings-file-picker {
    display: none;
}

.stats-table td:nth-child(2) {
    padding-left: 10px;
}
