#scrapyard-edit-bar-container {
    display: none;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 2147483647 !important;
    width: 100% !important;
    height: 42px !important;
    margin: 0 !important;
    padding: 0 !important;
}

#scrapyard-edit-bar {
    background: #aaa;
    border-top: 1px solid #999;
    width: 100%;
    height: 26px;
    white-space: nowrap;
    text-align: left;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: normal;
    align-items: center;
}

#scrapyard-edit-bar * {
    flex: 0 1 auto;
}

#scrapyard-original-url-label {
    margin-left: 8px;
    display: inline-block;
    color: black;
}

#scrapyard-original-url-text {
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;
    height: 16px;
    /*margin-top: 2px;*/
    padding: 0;
    letter-spacing: normal;
    border: 1px solid #777;
    flex-grow: 1;
    flex-shrink: 0;
}

#scrapyard-icon {
    vertical-Align: middle;
    margin-Left: 10px;
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

#scrapyard-brand {
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    font-weight: bold;
    letter-spacing: normal;
}

#scrapyard-edit-doc-button {
    width: 81px;
}

#scrapyard-edit-bar, #scrapyard-edit-bar *, #scrapyard-edit-bar input[type=button].blue-button,
#scrapyard-edit-bar input[type=button].yellow-button, #scrapyard-edit-bar input[type=text].original-url-text {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    box-sizing: content-box;
}

#scrapyard-edit-bar input[type=button].blue-button,
#scrapyard-edit-bar input[type=button].yellow-button,
#scrapyard-edit-bar input[type=button].black-button {
    background: #09c;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 15px;
    border: none;
    line-height: 20px;
    margin-left: 5px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
}

#scrapyard-edit-bar input[type=button].yellow-button {
    background: #f70;
}

#scrapyard-edit-bar input[type=button].black-button {
    background: #000;
}

#scrapyard-edit-bar input[type=button]:disabled {
    background: #555;
}

.scrapyard-menu-item-wrapper {
    height: 14px;
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid #999;
    padding: 8px 20px;
    vertical-align: middle;
}

.scrapyard-menu-item {
    text-align: center;
    height: 14px;
    line-height: 14px;
    min-width: 200px;
}

#scrapyard-hide-button {
    margin-right: 8px;
}

#scrapyard-go-button {
    margin-left: 0;
}

#scrapyard-marker-menu {
    position: absolute;
    z-index: 2147483646;
    border: 1px solid #999;
    background: #fff;
    display: none;
    box-shadow: 5px 5px 5px #888888;
    border-width: 1px 1px 0px 1px;
}

#scrapyard-marker-cleaner {

}

#scrapyard-auto-open-check {
    margin-left: 5px;
}

#scrapyard-auto-open-check ~ label {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    padding-top: 2px;
    color: black;
    font-weight: normal;
    letter-spacing: normal;
}

.scrapyard-marker-1 {
    background: #f2cfff;;
}

.scrapyard-marker-2 {
    background: #b2e8f6;
}

.scrapyard-marker-3 {
    background: #bcffc1;
}

.scrapyard-marker-4 {
    background: #fff2a1;
}

.scrapyard-marker-5 {
    border-bottom: 2px solid #28c628;
}

.scrapyard-marker-6 {
    border-bottom: 2px solid #f00;
}

.scrapyard-marker-7 {
    border-bottom: 2px dotted #28c628;
}

.scrapyard-marker-8 {
    border-bottom: 2px dotted #f00;
}

.scrapyard-no-overflow {
    overflow: hidden;
}

#scrapyard-notes-dim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #777;
    opacity: 0.5;
    z-index: 2000000;
}

#scrapyard-notes-frame {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 2147483600;
    border: none;
}

@keyframes flash {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

.scrapyard-flash-button {
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.scrapyard-icon-container {
    position: relative;
    height: 16px;
    display: flex;
    align-content: center;
    align-items: center;
}

.scrapyard-help-mark, .scrapyard-i-mark {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    /*background-image: url(../icons/help-mark.svg);*/
    background-size: 16px 16px;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}

.scrapyard-i-mark {
    /*background-image: url(../icons/page-info.svg);*/
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    margin-left: 16px;
    margin-right: 10px;
    margin-top: -2px;
}

.scrapyard-tips {
    border-radius: 5px;
    border: 1px solid #555;
    background: #d2d2d2;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    z-index: 2147483647;
    color: black;
}

.scrapyard-tips.scrapyard-hide {
    display: none;
    position: absolute;
}
