#check-links > * {
    flex: 0 1 auto;
}

#link-scope {
    margin-right: 8px;
}

#link-check-timeout {
    margin-left: 8px;
    width: 50px;
}

#update-icons {
    margin-left: 12px;
}

#check-scope {
    display: none;
}

#check-timeout-label, #link-check-mode-label {
    padding-left: 12px;
}

#link-check-mode-label {
    margin-right: 8px;
}

#link-check-mode {
    display: none;
}

#link-check-options {
    line-height: 22px;
    vertical-align: middle;
    margin-left: 16px;
}

#link-check-options {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.header-validity {
    padding-bottom: 8px;
    display: block;
}

.header-duplicates {

}

.link-check-service-cell {
    width: 0;
}

.result-action-icon, .result-action-icon-last {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 2px;
}

.result-action-icon-last {
    margin-right: 8px;
}

.link-info {
    margin-left: 16px;
}

.link-check-error {
    white-space: nowrap;
}

#start-check-links, #delete-selected-links {
    margin-left: 16px;
    height: 22px;
    padding-top: 0;
    padding-bottom: 0;
}

#start-check-links {
    width: 63px;
}

#delete-selected-links {
    display: none;
}

#check-results-container {
    flex: 1 1 auto;
    padding-top: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

#check-results {
    margin-left: 15px;
    width: calc(100% - 15px);
}

#current-link {
    margin-top: 8px;
    display: flex;
    visibility: hidden;
}

#current-link > div:first-child {
    margin-right: 8px;
    line-height: 28px;
    vertical-align: middle;
}

#current-link-title {
    overflow: hidden;
}

#current-link-url {
    font-size: 80%;
    overflow: hidden;
}

#current-link-title, #current-link-url {
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.invalid-link {
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 1px;
}

.duplicate-link {
    padding-top: 8px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 0;
    max-width: 0;
}

.link-check-breadcrumb {
    color: #555;
}

.archive-link {
    font-style: italic;
}
