/* 777: .selectric | .selectric, .selectric-focus .selectric { | .selectric:hover { */

.selectric {
    border: 1px solid black;
    border-radius: 3px;
    appearance: none;
}

.selectric-wrapper {
    min-width: unset;
}

.selectric .button {
    font: unset;
}

.selectric .button img {
    margin-left: 4px;
    margin-top: 7px;
    display: block;
    width: 9.3px;
    height: 5.45px;
}

.selectric-scroll li.highlighted, .selectric-scroll li.selected {
    background: transparent;
}

.selectric-scroll li.highlighted:hover, .selectric-scroll li.selected:hover {
    background: #ddd;
}

.selectric, .selectric-focus .selectric {
    border-color: black;
}

.selectric:hover {
    border-color: black;
}

.option-builtin {
    font-weight: bold;
}

.divide {
    border-bottom: 1px solid black;
}
