#scrapyard-dim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #777;
    opacity: 0.5;
    z-index: 2000000;
}

#scrapyard-site-capture-frame {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    z-index: 2147483600;
    border: none;
    overflow: hidden;
}
