@-moz-document url-prefix("%%%") {

    html, body, .toolbar, .black-button, .simple-menu, .dlg, .dlg *, #div-form-left, .div-area, .div-area * {
        background: var(--in-content-page-background) !important;
        border-color: var(--tone-5) !important;
        color: var(--in-content-page-color) !important;
    }

    .dlg *,
    select,
    .simple-menu div,
    .jstree-default .jstree-anchor .todo-path,
    .jstree-default .jstree-anchor .todo-details {
        color: var(--in-content-page-color) !important;
    }

    .dlg input, .dlg select, .selectric {
        border: 1px solid var(--in-content-box-border-color) !important;
        border-radius: 3px !important;
        -moz-appearance: none !important;
    }


    .jstree-default .jstree-anchor.jstree-clicked,
    .jstree-default .jstree-anchor.jstree-clicked .todo-path,
    .jstree-default .jstree-anchor.jstree-clicked .todo-details {
        color: var(--tone-3) !important;
        transition: none !important;
        background: transparent !important;
    }

    .dlg input[type=button] {
        cursor: pointer !important;
    }

    .simple-menu div:hover,
    .selectric-scroll li:hover,
    .dlg input[type=button]:hover,
    .jstree-default .jstree-hovered,
    .jstree-default .jstree-wholerow-hovered {
        background: #434347 !important;
        transition: none !important;
    }

    .jstree-default .jstree-clicked,
    .jstree-default .jstree-wholerow-clicked,
    .jstree-default .jstree-clicked.jstree-hovered,
    .jstree-default .jstree-wholerow-clicked.jstree-wholerow-hovered {
        background: #4c4c51 !important;
    }

    .selectric-scroll li:hover, .simple-menu div:hover {
        background-color: var(--tone-4) !important;
        color: var(--tone-7) !important;
    }

    .jstree-default .jstree-anchor, .jstree-default .jstree-wholerow {
        transition: none !important;
    }

    .vakata-context, .vakata-context ul, ul.jstree-default-contextmenu {
        background: var(--in-content-box-background-hover) !important;
        border: 1px solid var(--in-content-box-border-color) !important;
        padding: 0px !important;
        color: var(--in-content-page-color) !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .vakata-context li > a {
        color: var(--tone-2) !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .vakata-context li > a:hover,
    .vakata-context .vakata-context-hover > a {
        background-color: var(--tone-4) !important;
        color: var(--tone-7) !important;
    }

    .vakata-context .vakata-contextmenu-disabled a,
    .vakata-context .vakata-contextmenu-disabled a:hover {
        color: var(--tone-5) !important;
    }

    .vakata-context .vakata-context-separator > a,
    .vakata-context .vakata-context-separator > a:hover {
        border-top: 1px solid var(--in-content-box-border-color) !important;
        border-left: 1px solid var(--in-content-box-border-color) !important;
        box-shadow: none !important;
    }

    li.vakata-context-hover, .vakata-context .vakata-context-hover > a {
        background-color: var(--in-content-box-background-hover) !important;
    }

    .vakata-context li > a .vakata-contextmenu-sep {
        border-left: 1px solid var(--in-content-box-border-color) !important;
        box-shadow: none !important;
    }

    .vakata-context li > a.vakata-context-parent {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAAL3RFWHRDcmVhdGlvbiBUaW1lANCn0YIgNCDQsNC/0YAgMjAxOSAxMTozMDo1NCArMDQwMPSur74AAAAHdElNRQfjBAQHIASxQAQlAAAACXBIWXMAAAsSAAALEgHS3X78AAAABGdBTUEAALGPC/xhBQAAACVJREFUeNpjePv2w38GYgFIMdEaYIqJ0oCsmKAGskwm2s3EBgYAK7o8kRxQo+YAAAAASUVORK5CYII=") !important;
    }

    .jstree-default .jstree-open > .jstree-ocl, .jstree-default .jstree-closed > .jstree-ocl {
        background-image: url("%%%lib/jstree/themes/default/32px_dark.png") !important;
    }

    #jstree-dnd.jstree-default .jstree-ok,
    #jstree-dnd.jstree-default .jstree-er {
        background-image: url("%%%lib/jstree/themes/default/32px_dark.png") !important;
    }

    .selectric .label::before,
    .selectric-items li.folder-label::before,
    .jstree-default .scrapyard-group > .jstree-anchor .jstree-themeicon {
        background-image: url("%%%icons/group2.svg") !important;
    }

    .jstree-default .scrapyard-shelf > .jstree-anchor .jstree-themeicon {
        background-image: url("%%%icons/shelf2.svg") !important;
    }

    .jstree-default .scrapyard-notes > .jstree-anchor .jstree-themeicon {
        background-image: url("%%%icons/notes2.svg") !important;
    }

    .jstree-default .jstree-anchor.generic-icon .jstree-themeicon {
        background-image: url("%%%icons/globe2.svg") !important;
    }


    input[type=text], .selectric, .selectric .button, .selectric-items, .selectric-scroll li, .simple-menu div  {
        background-color: var(--in-content-box-background) !important;
        border-color: var(--in-content-box-border-color) !important;
        color: var(--in-content-page-color)!important;
    }

    .selectric .label {
        background-color: var(--in-content-box-background) !important;
    }

    .midnight-filter, .midnight-filter-menu {
        filter: invert(80%) sepia(7%) saturate(52%) hue-rotate(201deg) brightness(90%) contrast(87%);
    }

    .simple-menu div:hover .midnight-filter-menu {
        filter: invert(0%) sepia(29%) saturate(2147%) hue-rotate(18deg) brightness(99%) contrast(87%);
    }


    .jstree-default .todo-state-todo.jstree-hovered,
    .jstree-default .todo-state-todo.jstree-clicked {
        color: #fc6dac !important;
    }

    .jstree-default .todo-state-waiting.jstree-hovered,
    .jstree-default .todo-state-waiting.jstree-clicked {
        color: #ff8a00 !important;
    }

    .jstree-default .todo-state-postponed.jstree-hovered,
    .jstree-default .todo-state-postponed.jstree-clicked {
        color: #00b7ee !important;
    }

    .jstree-default .todo-state-overdue.jstree-hovered,
    .jstree-default .todo-state-overdue.jstree-clicked,
    .jstree-default .todo-state-cancelled.jstree-hovered,
    .jstree-default .todo-state-cancelled.jstree-clicked {
        color: #ff4d26 !important;
    }

    .jstree-default .todo-state-done.jstree-hovered,
    .jstree-default .todo-state-done.jstree-clicked {
        color: #00b60e !important;
    }

    a.left-index {
        color: var(--in-content-page-color) !important;
    }

    a.left-index.focus{
        border-right:3px solid var(--tone-5) !important;
        background:#ddd !important;
        color: black !important;
        position: relative;
        z-index: 10000;
    }

    .div-area input[type=number] {
        color: black !important;
    }


    .div-area input[type=button] {
        border: 1px solid var(--in-content-box-border-color) !important;
        border-radius: 3px  !important;
        -moz-appearance: none !important;
        cursor: pointer  !important;
    }

    .div-area input[type=button]:hover {
        background: var(--in-content-box-background-hover) !important;
    }

    .help-mark {
        background-image: url("%%%icons/help-mark2.svg") !important;
    }

    code {
        color: rgba(0, 0, 0, 0.75) !important;
    }

    span.task-status {
        color: white !important;
    }

    span.task-status.todo {
        color: white !important;
    }

    span.task-status.done {
        color: white !important;
    }

    .section-number {
        color: rgb(0, 90, 190) !important;
    }

    #source-url {
        color: #0074D9 !important;
    }
}
