#advanced-title {
    text-align: center;
    width: 100%;
}

#advanced-title h1 {
    font-size: 18pt;
    margin-bottom: 10px;
}

.panel {
    width: 700px;
    margin: auto;
    margin-top: 20px;
}

.panel-title {
    text-align: left;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 5px;
}

#automation-panel-title {
    width: 100%;
}

#automation-api-docs {
    font-weight: normal;
    display: inline-block;
    float: right;
}

#addon-db-path-title {
    margin-bottom: 10px;
}

#addon-db-path-input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#db-path-copy-button {
    margin-left: -20px;
    margin-bottom: -4px;
    cursor: pointer;
    background-color: white;
}

#calculate-size, #reindex-content {
    padding-top: 10px;
    margin-bottom: 0;
}
