
/* .scrapyard-edit-bar{ */
/*     background:#f00; */
/*     height:100px; */
/*     left:0; */
/*     right:0; */
/*     bottom:0px; */
/*     position:fixed; */
/*     z-index:2147483647;    */
/* } */
.scrapyard-edit-bar{
    background: #aaa;
    border-top: 1px solid #999;
    width: 100%;
    height: 40px;
    position: fixed;
    vertical-align: middle;
    line-height: 40px;
    bottom: 0;
    z-index: 2147483647;
    text-align:left;
}
.scrapyard-icon{
    vertical-Align:middle;
    margin-Left:10px;
    width :20px;
    height : 20px;
}
.scrapyard-edit-bar,  .scrapyard-edit-bar *{
    font-family:"WenQuanYi Micro Hei",
		"Open Sans",
		"Fira Sans",
		"Lucida Sans",
		"Lucida Sans Unicode",
		"Trebuchet MS",
		"Liberation Sans",
		"Nimbus Sans L",
		sans-serif;
    font-size:12px;
    box-sizing: content-box;
}
.scrapyard-edit-bar input[type=button].blue-button,
.scrapyard-edit-bar input[type=button].yellow-button,
.scrapyard-edit-bar input[type=button].black-button {
    background:#09c;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    padding:3px 15px;
    border:none;
    line-height:20px;
    margin-left:5px;
}
.scrapyard-edit-bar input[type=button].yellow-button{
    background:#f70;
}
.scrapyard-edit-bar input[type=button].black-button{
    background:#000;
}
.scrapyard-edit-bar input[type=button]:disabled{
    background:#555;
}
.scrapyard-menu-item{
    text-align:center;
}
