.scrapyard-edit-bar{
    background: #aaa;
    border-top: 1px solid #999;
    width: 100%;
    /*height: 40px;*/
    position: fixed;
    vertical-align: middle;
    /*line-height: 40px;*/
    bottom: 0;
    z-index: 2147483647;
    text-align:left;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
}
.scrapyard-edit-bar * {
    flex: 0 1 auto;
}
.original-url-text {
    flex: 1 1 auto;
    margin-left: 16px;
    margin-right: 16px;
    height: 16px;
    margin-top: 2px;
}
.scrapyard-icon{
    vertical-Align:middle;
    margin-Left:10px;
    margin-top:2px;
    width :20px;
    height : 20px;
}
.brand {
    margin-top: 5px;
    margin-left: 5px;
}
.scrapyard-edit-bar,  .scrapyard-edit-bar *{
    font-family:
        "Helvetica",
        "Lucida Sans Unicode",
        "Lucida Sans",
        "Trebuchet MS",
        "Open Sans",
        "Fira Sans",
        "Liberation Sans",
        "Nimbus Sans L",
        "WenQuanYi Micro Hei",
		sans-serif;
    font-size:12px;
    box-sizing: content-box;
}
.scrapyard-edit-bar input[type=button].blue-button,
.scrapyard-edit-bar input[type=button].yellow-button,
.scrapyard-edit-bar input[type=button].black-button {
    background:#09c;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    padding:3px 15px;
    border:none;
    line-height:20px;
    margin-left:5px;
}
.scrapyard-edit-bar input[type=button].yellow-button{
    background:#f70;
}
.scrapyard-edit-bar input[type=button].black-button{
    background:#000;
}
.scrapyard-edit-bar input[type=button]:disabled{
    background:#555;
}
.scrapyard-menu-item{
    text-align:center;
}
.hide-button {
    margin-right: 8px;
    margin-left: 0 !important;
}


.scrapyard-marker-1{
    color:#fff;
    background:#bf00ff;
}

.scrapyard-marker-2{
    color:#fff;
    background: #f00;
    color:#fff
}
.scrapyard-marker-3{
    color:#000;
    background:#0f0 ;
}
.scrapyard-marker-4{
    color:#000;
    background:#fd0 ;
}
.scrapyard-marker-5{
    border-bottom:2px solid #bf00ff;
}
.scrapyard-marker-6{
    border-bottom:2px solid #f00;
}
.scrapyard-marker-7{
    border-bottom:2px dotted #bf00ff;
}
.scrapyard-marker-8{
    border-bottom:2px dotted #f00;
}
