*{
    font-family: "Helvetica",
    "Lucida Sans Unicode",
    "Lucida Sans",
    "Trebuchet MS",
    "Open Sans",
    "Fira Sans",
    "Liberation Sans",
    "Nimbus Sans L",
    "WenQuanYi Micro Hei",
    sans-serif;
    font-size:12px;
}
html{
    height:100%;
    width:100%;
}
body{
    margin:0;
    display:table;
    min-height:100%;
    max-height:100%;
    height: 100%;
    width:100%;
}
#div-page{
    display:table-row;
    background:white;
}
#div-form-left {
    display:table-cell;
    background:white;
    padding:0;
    vertical-align:top;
    width:150px;
    min-width:150px;
    border-right:1px solid #777;
}
.form-table {
}
.div-area{
    display:table-cell;
    padding:15px;
    overflow:scroll;
}
input[type=button]{
    padding:5px 20px;
    appearance: none;
    -moz-appearance: none;
    border-radius:5px;
    border:none;
    background:#079;
    color:#fff;
    cursor:pointer;
}
#txtBackendPath{
    border-radius:5px;
    border:1px solid;
    background:#ccc;
    padding:5px;
    display:none;
}
.form-table>tbody>tr>td:first-child{
    vertical-align:top;
    text-align:right;
    font-weight:bold;
    padding-top:4px;
    font-size:15px;
    white-space:nowrap;
}
div.panel{
    border-radius:5px;
    border:1px solid #777;
    padding:10px;
    white-space:nowrap;
}
.form-table.inner>tbody>tr>td:first-child{
    vertical-align:middle;
    text-align:right;
    font-weight:normal;
    text-decoration:none;
    font-size:12px;
}
.form-table>tbody>tr>td{
    padding:5px 5px;
}
.form-table.inner>tbody>tr>td{
    padding:0px 0px;
}
.form-table>tbody>tr{
    border-bottom:1px solid;
}
.left-index{
    outline: none;
    padding:15px 0px;
    color:#000;
    font-size:14px;
    display:block;
    text-align:center;
    width:100%;
}
.left-index.focus{
    border-right:3px solid #079;
    background:#ddd;
}
#rdf-area div{
    margin-bottom:3px;
    white-space:nowrap;
}
.tips{
    border-radius:5px;
    border:1px solid #777;
    background:#cc9;
    padding:5px;
    margin-bottom:5px;
    text-align:left;
}
.tips.hide{
    display:none;
    position: absolute;
}
.console{
    border:1px solid #000;
    overflow:auto;
    padding:10px;
    position:absolute;
    top:50px;
    left:50px;
    right:50px;
    bottom:50px;
    background:#333;
    color:#eee;
}
h2{
    font-size:18px;
}
.embeded-log-text{
    background:#333;
    color:#eee;
    padding:10px;
    width:-moz-fit-content;
    margin:5px 0;
}
/* ============= slidbar =============== */
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /* width: 100%; */ /* Full-width */
    height: 6px; /* Specified height */
    background: #555; /* Grey background */
    outline: none; /* Remove outline */
    /* opacity: 0.7; */ /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: inline-block;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #079; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
    border:none;
}
.slider::-moz-range-thumb {
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #079; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
    border:none;
}
.slider::-moz-focus-outer {
    border: 0;
}
.help-mark{
    width:20px;
    height:20px;
    
    background:url(icons/help-mark.svg);
    background-size: 20px 20px;
    vertical-align:middle;
    display:inline-block;

}


form
{
    margin-bottom: 3px;
}

fieldset {
    border-radius: 5px;
    border:1px solid #777;
    vertical-align:middle;
}

fieldset > div
{
    margin-bottom: 5px;
}

fieldset > div:last-child
{
    margin-bottom: 0px;
}

fieldset input[type="checkbox"]
{
    margin-right: 7px;
    vertical-align: middle;
}

fieldset input[type="radio"]
{
    margin-left: 4px;
    margin-right: 7px;
    /*vertical-align: 0px;*/
}

fieldset input[type="text"]
{
    margin-left: 10px;
    padding: 1px 3px 1px 3px;
    /*vertical-align: 2px;*/
}

fieldset input[type="number"]
{
    width: 4em;
    margin-left: 4px;
    margin-right: 8px;
    padding: 1px 0px 1px 0px;
    text-align: center;
    /*vertical-align: 2px;*/
}

body:not([windows]) fieldset input[type="number"]
{
    width: 5em;
}

fieldset label
{
    /*vertical-align: 2px;*/
}

fieldset label:first-child
{
    margin-left: 3px;
}

a, a:visited {
    color: #0074D9;
}

a.left-index, a:visited.left-index {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
